{{!-- <div class="container mt-5"></div>
<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h2 class="mb-4">{{usuario}}, eres un ADMIN</h2>
    </div>
</div>
</div> --}}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="mb-4">{{usuario}}, eres un ADMIN</h2>
            <p class="lead mb-4">Desde aquí puedes gestionar tus productos y realizar otras tareas administrativas.</p>
            <a href="/realTimeProducts" class="btn btn-primary btn-lg">Agregar Productos</a>
        </div>
    </div>
</div>
